*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  font-family: Roboto;
  justify-content:right;
  align-items: center;
  background-color: white;
}



.main{
  margin: 1% 8% 2% 8% ;
  display: flex;
  justify-content:right;
  border-radius: 5px;
  flex-direction: row;
  border: 1px solid rgba(28, 28, 28, 0.2);
}


.wrapper{
  display: flex;
  flex: 1.2;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  
}


a{
  text-decoration: none;
  display: block;
  color: White;
 padding: 7% 10% 7% 10%;
  width: 100%;
  border-bottom: 1px solid rgb(223, 223, 223);
 
}

a:hover{
  background-color: orange;
}
.links{
  color: black;
}
.sidebar{
  border-right: 1px solid rgb(223, 223, 223);
  width: 100%;
}





.wrapper2{
  flex: 4;
  background: transparent;
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
    align-items: center;
margin-left: 50px;
}



.button{
  margin-left:10px;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
  border-width: 1px;
}

.button2{
  border: none;
  border-width: 1px;
  border-radius: 5px;
  margin-left:70px;
  width: 70px;
  padding: 10px;
  background-color: transparent;
}

.top{
  width: 100%;
  display: grid;
  grid-template-columns: 110px 100px 100px;
  height: 121px;
  align-items: center;
  border-bottom: #fff;
  margin-bottom: 30px;
}

.info{
  width: 100%;
  justify-content: space-between;
}

h2{
  margin: 100px 0 0 8% ;
}
p{
  font-weight: 700;
  margin: 15px  0 8px 0px;
  color: black;
  font-size: medium;
}

.input{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 90%;
  border-width: 1px;
  border-color:solid #f8f8f8;
}


.border{
  color: rgb(152, 152, 152);
  border-style: none;
  width: 92%;
 height: 30px;
 background: rgb(243, 245, 249);
 border-radius: 6px;
}

.Dropdownbox{
  font-size: 16px; /* Set the font size */
  height: 100%;
  width: 100%;
}

input {
  padding-left: 5px; /* Adjust as needed */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.inputline{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  margin-bottom: 15px;
  width: 90%;
  border-width: 1px;
  border-color:solid #f8f8f8;
}

.inputlast{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 90%;
  border-width: 1px;
  border-color:solid #f8f8f8;
  
}
.Save{
  color: white;
  background-color: orange;
  border-color: orange;
  padding: 9px;
  border-width: 1px;
  border-radius: 5px;
}

.bottom{
  justify-content: left;
  text-align: right;
  margin-bottom: 20px;
}

.name{
  display: flex;
  flex-direction: row;
  
}

.petname{
  flex:1;
}

.firstname{
  flex: 1;
}

.profile{
  flex:.5;
  height: 290px;
  margin: 20px 15% 10px 20px;
  background-color:transparent;
  border-style: dashed;
  border-color:black;
}

.petn{
  display: flex;
}


.upload-container {
  width: 250px;
  height: 290px;
  margin: 20px 15% 10px 20px;
  border: 2px dashed #000000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

/* Style for the input */
.file-input {
  display: none;
}

/* Style for the uploaded image */
.uploaded-image {
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

p2{
  color: black;
  padding: 0;
  margin: 0;
}






a.hatdog{
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.header {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:54.2px;
  padding: 20px 0 20px 0;
  background: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}

.header{
 
  margin: 0;
}
.bx bx-menu
{
  padding: 0;
  margin: 0;
}
.header:hover::before {
  left: 100%;
}
.logo {
  margin-left: 100px;
  margin-right: 40px;
  text-decoration: none;
  height: 50px;
  width: 50px;
  cursor: default;
}




.Login{
  padding: 7px 20px 7px 20px;
  margin-right: 90px;
  border-radius: 15px;
  color: orange;
  border-style: none;
  transition: color 1s, opacity 1s, 
background-color 1s, box-shadow 1s;
}


.Login:hover{
  color: orange;
  background-color: white;
  box-shadow: 0px 5px 10px rgba( 0, 0, 0, 0.30);
  
}


.navbar a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-right: 30px;
  transition: 0.3s;
}
.navbar a:hover {
  color: black;
}






@media(max-width: 574px){


  .logo {
    margin-left: 10%;
    text-decoration: none;
    height: 50px;
    width: 50px;
    cursor: default;
  }
.nav-bg {
  position: absolute;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 99;
  display: none;
  height: 1000%;
  width: 1000%;
}
.nav-bg.active {
  display: block;
}

}